
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: rgb(201,186,197);
  background: linear-gradient(to bottom, rgba(201,186,197,1) 15%, rgba(200,151,224,1) 40%, rgba(209,134,202,1) 74%, rgba(211,142,215,1) 100%);
  color: black;
  scroll-behavior: smooth;
  scroll-snap-type:y mandatory;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
